<h1><%= @topic.name %></h1>

<% if policy(@topic).edit? %>
  <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success'%>
<% end %>


<div class="row">
  <div class="col-md-8">
    <p class='lead'><%= @topic.description %></p>
    <%= render @posts %>
    <%
      # The above is a shortcut for:
      # render partial: "product", collection: @products
      # Which renders the partial once for each item in the collection, itself a shortcut for this
      # @posts.each do |post|
      # Except with all the code in that block as a partial. Cool stuff
      # learn more here: http://guides.rubyonrails.org/layouts_and_rendering.html#rendering-collections
    %>

    <%= will_paginate @posts %>

    <div class="col-md-4">
      <% if policy(Post.new).create? %>
        <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-success' %>
      <% end %>

      <% if policy(@topic).destroy? %>
        <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this topic?'} %>
      <% end %>
    </div>

  </div>
</div>

