<%= simple_form_for [topic, post] do |f|  %>

  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(post.errors.count, "error") %></h4>
      <ul>
      <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% # We'll replace form_group_tag with simple form for validating errors %>

    <%= f.input :title, class: 'form-control', placeholder: "Enter post title" %>
    <%= f.input :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
    <%= f.button :submit %>

<% end %>
